<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
    galleryTitle="Sunsets"
    showInfoButton="true"
	enableAutoPlay="true"
	showAutoPlayButton="true"
	captionPosition="BELOW_IMAGE"
	autohideThumbs="true"
	playAudioOnLoad="true"
	showImageNumber="false"
	showAudioButton="true"
	showNavButtons="true"
	buttonBarPosition="TOP"
	maxThumbRows="2"
	imageScaleMode="SCALE"
	randomizeImages="true"
	useFullscreenExpand="true"
	autoPlayOnLoad="true"
	imageTransitionType="CROSS_FADE"
	backgroundUrl="https://img.freepik.com/free-photo/splashing-dust-powder_1252-680.jpg"
	audioUrlMp3="https://cdn.pixabay.com/audio/2023/04/01/audio_167ebed288.mp3"
>
>
	<image imageURL="images/IMG_1767.jpg" thumbURL="thumbs/IMG_1767.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2008.jpg" thumbURL="thumbs/IMG_2008.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2026.jpg" thumbURL="thumbs/IMG_2026.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2107.jpg" thumbURL="thumbs/IMG_2107.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_0906.jpg" thumbURL="thumbs/IMG_0906.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_0917.jpg" thumbURL="thumbs/IMG_0917.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_0921.jpg" thumbURL="thumbs/IMG_0921.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_0924.jpg" thumbURL="thumbs/IMG_0924.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
</juiceboxgallery>