<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
    enableAutoPlay="true"
    displayTime="7"
    maxThumbRows="2"
    imageScaleMode="SCALE"
    randomizeImages="true"
    autoPlayOnLoad="true"
    enablePreloading="true"
    galleryTitle="Mexico"
    imageTransitionType="CROSS_FADE"
    enableFullscreen="true"
    showCaptions="true"
    captionTextColor="#ffffff"
    captionBackgroundColor="#000000"
    backgroundColor="#121212"
    borderColor="#00bcd4" 
>
	<image imageURL="images/IMG_1974.jpg" thumbURL="thumbs/IMG_1974.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1977.jpg" thumbURL="thumbs/IMG_1977.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1979.jpg" thumbURL="thumbs/IMG_1979.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1983.jpg" thumbURL="thumbs/IMG_1983.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1984.jpg" thumbURL="thumbs/IMG_1984.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1987.jpg" thumbURL="thumbs/IMG_1987.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1988.jpg" thumbURL="thumbs/IMG_1988.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1989.jpg" thumbURL="thumbs/IMG_1989.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1991.jpg" thumbURL="thumbs/IMG_1991.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1993.jpg" thumbURL="thumbs/IMG_1993.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1994.jpg" thumbURL="thumbs/IMG_1994.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1995.jpg" thumbURL="thumbs/IMG_1995.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1997.jpg" thumbURL="thumbs/IMG_1997.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_1998.jpg" thumbURL="thumbs/IMG_1998.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2001.jpg" thumbURL="thumbs/IMG_2001.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2003.jpg" thumbURL="thumbs/IMG_2003.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2006.jpg" thumbURL="thumbs/IMG_2006.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2010.jpg" thumbURL="thumbs/IMG_2010.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2014.jpg" thumbURL="thumbs/IMG_2014.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2023.jpg" thumbURL="thumbs/IMG_2023.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2028.jpg" thumbURL="thumbs/IMG_2028.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2033.jpg" thumbURL="thumbs/IMG_2033.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2035.jpg" thumbURL="thumbs/IMG_2035.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2038.jpg" thumbURL="thumbs/IMG_2038.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2040.jpg" thumbURL="thumbs/IMG_2040.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2046.jpg" thumbURL="thumbs/IMG_2046.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2048.jpg" thumbURL="thumbs/IMG_2048.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2054.jpg" thumbURL="thumbs/IMG_2054.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2060.jpg" thumbURL="thumbs/IMG_2060.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2063.jpg" thumbURL="thumbs/IMG_2063.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2071.jpg" thumbURL="thumbs/IMG_2071.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2073.jpg" thumbURL="thumbs/IMG_2073.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2081.jpg" thumbURL="thumbs/IMG_2081.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2090.jpg" thumbURL="thumbs/IMG_2090.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2092.jpg" thumbURL="thumbs/IMG_2092.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2103.jpg" thumbURL="thumbs/IMG_2103.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2104.jpg" thumbURL="thumbs/IMG_2104.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2106.jpg" thumbURL="thumbs/IMG_2106.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2107-2.jpg" thumbURL="thumbs/IMG_2107-2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2113.jpg" thumbURL="thumbs/IMG_2113.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2114.jpg" thumbURL="thumbs/IMG_2114.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2115.jpg" thumbURL="thumbs/IMG_2115.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2116.jpg" thumbURL="thumbs/IMG_2116.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2117.jpg" thumbURL="thumbs/IMG_2117.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2122.jpg" thumbURL="thumbs/IMG_2122.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2123.jpg" thumbURL="thumbs/IMG_2123.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2126.jpg" thumbURL="thumbs/IMG_2126.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2128.jpg" thumbURL="thumbs/IMG_2128.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2129.jpg" thumbURL="thumbs/IMG_2129.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2130.jpg" thumbURL="thumbs/IMG_2130.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2132.jpg" thumbURL="thumbs/IMG_2132.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2135.jpg" thumbURL="thumbs/IMG_2135.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2137.jpg" thumbURL="thumbs/IMG_2137.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2139.jpg" thumbURL="thumbs/IMG_2139.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2144.jpg" thumbURL="thumbs/IMG_2144.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2146.jpg" thumbURL="thumbs/IMG_2146.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2148.jpg" thumbURL="thumbs/IMG_2148.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2149.jpg" thumbURL="thumbs/IMG_2149.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2150.jpg" thumbURL="thumbs/IMG_2150.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2151.jpg" thumbURL="thumbs/IMG_2151.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2153.jpg" thumbURL="thumbs/IMG_2153.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2156.jpg" thumbURL="thumbs/IMG_2156.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2157.jpg" thumbURL="thumbs/IMG_2157.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2160.jpg" thumbURL="thumbs/IMG_2160.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/IMG_2165.jpg" thumbURL="thumbs/IMG_2165.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
</juiceboxgallery>