<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
    enableAutoPlay="true"
    displayTime="7"
    maxThumbRows="2"
    imageScaleMode="SCALE"
    randomizeImages="true"
    autoPlayOnLoad="true"
    enablePreloading="true"
    galleryTitle="Thailand"
    imageTransitionType="CROSS_FADE"
    enableFullscreen="true"
    showCaptions="true"
    captionTextColor="#ffffff"
    captionBackgroundColor="#000000"
    backgroundColor="#121212"
    borderColor="#00bcd4" 
>
	<image imageURL="images/_DSC2527_HDR.jpg" thumbURL="thumbs/_DSC2527_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2548_HDR.jpg" thumbURL="thumbs/_DSC2548_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2730.jpg" thumbURL="thumbs/_DSC2730.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2733_HDR.jpg" thumbURL="thumbs/_DSC2733_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2742_HDR.jpg" thumbURL="thumbs/_DSC2742_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2799_HDR.jpg" thumbURL="thumbs/_DSC2799_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2802_HDR.jpg" thumbURL="thumbs/_DSC2802_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2805_HDR.jpg" thumbURL="thumbs/_DSC2805_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2808_HDR.jpg" thumbURL="thumbs/_DSC2808_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2817_HDR.jpg" thumbURL="thumbs/_DSC2817_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2820_HDR.jpg" thumbURL="thumbs/_DSC2820_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2832_HDR.jpg" thumbURL="thumbs/_DSC2832_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2835_HDR.jpg" thumbURL="thumbs/_DSC2835_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2844_HDR.jpg" thumbURL="thumbs/_DSC2844_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2879_HDR.jpg" thumbURL="thumbs/_DSC2879_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2889_HDR.jpg" thumbURL="thumbs/_DSC2889_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2892_HDR.jpg" thumbURL="thumbs/_DSC2892_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2925_HDR.jpg" thumbURL="thumbs/_DSC2925_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2933_HDR.jpg" thumbURL="thumbs/_DSC2933_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2969_HDR.jpg" thumbURL="thumbs/_DSC2969_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2990_HDR.jpg" thumbURL="thumbs/_DSC2990_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2993_HDR.jpg" thumbURL="thumbs/_DSC2993_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC2996_HDR.jpg" thumbURL="thumbs/_DSC2996_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_DSC3020_HDR.jpg" thumbURL="thumbs/_DSC3020_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
</juiceboxgallery>