<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				enableAutoPlay="true"
					captionPosition="BELOW_IMAGE"
					autohideThumbs="true"
					playAudioOnLoad="true"
					showImageNumber="false"
					maxThumbRows="2"
					imageScaleMode="SCALE"
					audioUrlMp3="https://cdn.pixabay.com/audio/2023/12/21/audio_9a762c312f.mp3"
					randomizeImages="true"
					useFullscreenExpand="true"
					autoPlayOnLoad="true"
					galleryTitle="Tempe Town Lake"
					imageTransitionType="CROSS_FADE"
		>
			<image imageURL="images/IMG_4686.jpg" thumbURL="thumbs/IMG_4686.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0938.jpg" thumbURL="thumbs/_7RV0938.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0962.jpg" thumbURL="thumbs/_7RV0962.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0979.jpg" thumbURL="thumbs/_7RV0979.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1002.jpg" thumbURL="thumbs/_7RV1002.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1041.jpg" thumbURL="thumbs/_7RV1041.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1052.jpg" thumbURL="thumbs/_7RV1052.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1059.jpg" thumbURL="thumbs/_7RV1059.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1063.jpg" thumbURL="thumbs/_7RV1063.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1067.jpg" thumbURL="thumbs/_7RV1067.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1117.jpg" thumbURL="thumbs/_7RV1117.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1123.jpg" thumbURL="thumbs/_7RV1123.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1127.jpg" thumbURL="thumbs/_7RV1127.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1145.jpg" thumbURL="thumbs/_7RV1145.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1153.jpg" thumbURL="thumbs/_7RV1153.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1166.jpg" thumbURL="thumbs/_7RV1166.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1169.jpg" thumbURL="thumbs/_7RV1169.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1177.jpg" thumbURL="thumbs/_7RV1177.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1186.jpg" thumbURL="thumbs/_7RV1186.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1190.jpg" thumbURL="thumbs/_7RV1190.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1202.jpg" thumbURL="thumbs/_7RV1202.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1204.jpg" thumbURL="thumbs/_7RV1204.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1219.jpg" thumbURL="thumbs/_7RV1219.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1226.jpg" thumbURL="thumbs/_7RV1226.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1235.jpg" thumbURL="thumbs/_7RV1235.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1241.jpg" thumbURL="thumbs/_7RV1241.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1280.jpg" thumbURL="thumbs/_7RV1280.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1300.jpg" thumbURL="thumbs/_7RV1300.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1317.jpg" thumbURL="thumbs/_7RV1317.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1320.jpg" thumbURL="thumbs/_7RV1320.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV1326.jpg" thumbURL="thumbs/_7RV1326.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
