<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	galleryTitle="Chinese New Year 2025"
	showInfoButton="true"
	enableAutoPlay="true"
	showAutoPlayButton="true"
	captionPosition="BELOW_IMAGE"
	autohideThumbs="true"
	playAudioOnLoad="true"
	showImageNumber="false"
	showAudioButton="true"
	showNavButtons="true"
	buttonBarPosition="TOP"
	maxThumbRows="2"
	imageScaleMode="SCALE"
	randomizeImages="true"
	useFullscreenExpand="true"
	autoPlayOnLoad="true"
	imageTransitionType="CROSS_FADE"
	backgroundUrl="https://img.freepik.com/premium-photo/paper-painted-with-black-watercolor-background_719536-572.jpg"
	audioUrlMp3="https://cdn.pixabay.com/audio/2025/03/04/audio_e324cc3c20.mp3"
		>
			<image imageURL="images/_DSC7791_HDR.jpg" thumbURL="thumbs/_DSC7791_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7807_HDR.jpg" thumbURL="thumbs/_DSC7807_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7813_HDR.jpg" thumbURL="thumbs/_DSC7813_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7822_HDR.jpg" thumbURL="thumbs/_DSC7822_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7830_HDR.jpg" thumbURL="thumbs/_DSC7830_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7855_HDR.jpg" thumbURL="thumbs/_DSC7855_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7866_HDR.jpg" thumbURL="thumbs/_DSC7866_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7872_HDR.jpg" thumbURL="thumbs/_DSC7872_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7874_HDR.jpg" thumbURL="thumbs/_DSC7874_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7889_HDR.jpg" thumbURL="thumbs/_DSC7889_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7896_HDR.jpg" thumbURL="thumbs/_DSC7896_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7904_HDR.jpg" thumbURL="thumbs/_DSC7904_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7910_HDR.jpg" thumbURL="thumbs/_DSC7910_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7926_HDR.jpg" thumbURL="thumbs/_DSC7926_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7932_HDR.jpg" thumbURL="thumbs/_DSC7932_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7939.jpg" thumbURL="thumbs/_DSC7939.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7962.jpg" thumbURL="thumbs/_DSC7962.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8035.jpg" thumbURL="thumbs/_DSC8035.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8070.jpg" thumbURL="thumbs/_DSC8070.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8115_HDR.jpg" thumbURL="thumbs/_DSC8115_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8128_HDR.jpg" thumbURL="thumbs/_DSC8128_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8177_HDR.jpg" thumbURL="thumbs/_DSC8177_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8214_HDR.jpg" thumbURL="thumbs/_DSC8214_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8259_HDR.jpg" thumbURL="thumbs/_DSC8259_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8262_HDR.jpg" thumbURL="thumbs/_DSC8262_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8273_HDR.jpg" thumbURL="thumbs/_DSC8273_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8286_HDR.jpg" thumbURL="thumbs/_DSC8286_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8297_HDR.jpg" thumbURL="thumbs/_DSC8297_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8318_HDR.jpg" thumbURL="thumbs/_DSC8318_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8339_HDR.jpg" thumbURL="thumbs/_DSC8339_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8349_HDR.jpg" thumbURL="thumbs/_DSC8349_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8353_HDR.jpg" thumbURL="thumbs/_DSC8353_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8367_HDR.jpg" thumbURL="thumbs/_DSC8367_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8379_HDR.jpg" thumbURL="thumbs/_DSC8379_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8393_HDR.jpg" thumbURL="thumbs/_DSC8393_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8401_HDR.jpg" thumbURL="thumbs/_DSC8401_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8409_HDR.jpg" thumbURL="thumbs/_DSC8409_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8414_HDR.jpg" thumbURL="thumbs/_DSC8414_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8421_HDR.jpg" thumbURL="thumbs/_DSC8421_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8427_HDR.jpg" thumbURL="thumbs/_DSC8427_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8435_HDR.jpg" thumbURL="thumbs/_DSC8435_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8444_HDR.jpg" thumbURL="thumbs/_DSC8444_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8453_HDR.jpg" thumbURL="thumbs/_DSC8453_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8455_HDR.jpg" thumbURL="thumbs/_DSC8455_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8468_HDR.jpg" thumbURL="thumbs/_DSC8468_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8474_HDR.jpg" thumbURL="thumbs/_DSC8474_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8479_HDR.jpg" thumbURL="thumbs/_DSC8479_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8491.jpg" thumbURL="thumbs/_DSC8491.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8496_HDR.jpg" thumbURL="thumbs/_DSC8496_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8509_HDR.jpg" thumbURL="thumbs/_DSC8509_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8519_HDR.jpg" thumbURL="thumbs/_DSC8519_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8558_HDR.jpg" thumbURL="thumbs/_DSC8558_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC8565_HDR.jpg" thumbURL="thumbs/_DSC8565_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
