<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	galleryTitle="Nakhon Phanom"
	showInfoButton="true"
	enableAutoPlay="true"
	showAutoPlayButton="true"
	captionPosition="BELOW_IMAGE"
	autohideThumbs="true"
	playAudioOnLoad="true"
	showImageNumber="false"
	showAudioButton="true"
	showNavButtons="true"
	buttonBarPosition="TOP"
	maxThumbRows="2"
	imageScaleMode="SCALE"
	randomizeImages="true"
	useFullscreenExpand="true"
	autoPlayOnLoad="true"
	imageTransitionType="CROSS_FADE"
	backgroundUrl="https://img.freepik.com/free-photo/chocolate_23-2148148815.jpg"
	audioUrlMp3="https://cdn.pixabay.com/audio/2025/01/09/audio_8946c4fdcb.mp3"
		>
			<image imageURL="images/_DSC5828_HDR.jpg" thumbURL="thumbs/_DSC5828_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5927_HDR.jpg" thumbURL="thumbs/_DSC5927_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5942_HDR.jpg" thumbURL="thumbs/_DSC5942_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5958_HDR.jpg" thumbURL="thumbs/_DSC5958_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5978_HDR.jpg" thumbURL="thumbs/_DSC5978_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5984_HDR.jpg" thumbURL="thumbs/_DSC5984_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6014_HDR.jpg" thumbURL="thumbs/_DSC6014_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6023_HDR.jpg" thumbURL="thumbs/_DSC6023_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6034_HDR.jpg" thumbURL="thumbs/_DSC6034_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6041_HDR.jpg" thumbURL="thumbs/_DSC6041_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6058_HDR.jpg" thumbURL="thumbs/_DSC6058_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6112_HDR.jpg" thumbURL="thumbs/_DSC6112_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6180_HDR.jpg" thumbURL="thumbs/_DSC6180_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6219_HDR.jpg" thumbURL="thumbs/_DSC6219_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6529.jpg" thumbURL="thumbs/_DSC6529.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6594_HDR.jpg" thumbURL="thumbs/_DSC6594_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6603_HDR.jpg" thumbURL="thumbs/_DSC6603_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6636_HDR.jpg" thumbURL="thumbs/_DSC6636_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6656_HDR.jpg" thumbURL="thumbs/_DSC6656_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6676_HDR.jpg" thumbURL="thumbs/_DSC6676_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6702_HDR.jpg" thumbURL="thumbs/_DSC6702_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6710.jpg" thumbURL="thumbs/_DSC6710.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6828_HDR.jpg" thumbURL="thumbs/_DSC6828_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6956_HDR.jpg" thumbURL="thumbs/_DSC6956_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC6967_HDR.jpg" thumbURL="thumbs/_DSC6967_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7139_HDR.jpg" thumbURL="thumbs/_DSC7139_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7151_HDR.jpg" thumbURL="thumbs/_DSC7151_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7197_HDR.jpg" thumbURL="thumbs/_DSC7197_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7219_HDR.jpg" thumbURL="thumbs/_DSC7219_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7234_HDR.jpg" thumbURL="thumbs/_DSC7234_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7242_HDR.jpg" thumbURL="thumbs/_DSC7242_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7247_HDR.jpg" thumbURL="thumbs/_DSC7247_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7262_HDR.jpg" thumbURL="thumbs/_DSC7262_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7275_HDR.jpg" thumbURL="thumbs/_DSC7275_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7292_HDR.jpg" thumbURL="thumbs/_DSC7292_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7300_HDR.jpg" thumbURL="thumbs/_DSC7300_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7345_HDR.jpg" thumbURL="thumbs/_DSC7345_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7354_HDR.jpg" thumbURL="thumbs/_DSC7354_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7386_HDR.jpg" thumbURL="thumbs/_DSC7386_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7388.jpg" thumbURL="thumbs/_DSC7388.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7426_HDR.jpg" thumbURL="thumbs/_DSC7426_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC7459_HDR.jpg" thumbURL="thumbs/_DSC7459_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
