<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
	galleryTitle="Phetchaburi"
	showInfoButton="true"
	enableAutoPlay="true"
	showAutoPlayButton="true"
	captionPosition="BELOW_IMAGE"
	autohideThumbs="true"
	playAudioOnLoad="true"
	showImageNumber="false"
	showAudioButton="true"
	showNavButtons="true"
	buttonBarPosition="TOP"
	maxThumbRows="2"
	imageScaleMode="SCALE"
	randomizeImages="true"
	useFullscreenExpand="true"
	autoPlayOnLoad="true"
	imageTransitionType="CROSS_FADE"
	backgroundUrl="https://img.freepik.com/free-photo/chocolate_23-2148148815.jpg"
	audioUrlMp3="https://cdn.pixabay.com/audio/2025/01/09/audio_8946c4fdcb.mp3"
		>
			<image imageURL="images/_DSC4300_HDR.jpg" thumbURL="thumbs/_DSC4300_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4308_HDR.jpg" thumbURL="thumbs/_DSC4308_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4313_HDR.jpg" thumbURL="thumbs/_DSC4313_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4331_HDR.jpg" thumbURL="thumbs/_DSC4331_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4413_HDR.jpg" thumbURL="thumbs/_DSC4413_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4426_HDR.jpg" thumbURL="thumbs/_DSC4426_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4430_HDR.jpg" thumbURL="thumbs/_DSC4430_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4436_HDR.jpg" thumbURL="thumbs/_DSC4436_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4443_HDR.jpg" thumbURL="thumbs/_DSC4443_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4457_HDR.jpg" thumbURL="thumbs/_DSC4457_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4462_HDR.jpg" thumbURL="thumbs/_DSC4462_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4480_HDR.jpg" thumbURL="thumbs/_DSC4480_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
