<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				enableAutoPlay="true"
					maxThumbRows="2"
					imageScaleMode="SCALE"
					audioUrlMp3="https://cdn.pixabay.com/audio/2024/10/12/audio_7dd52a2e33.mp3"
					randomizeImages="true"
					useFullscreenExpand="true"
					autoPlayOnLoad="true"
					galleryTitle="Phetchaburi"
					imageTransitionType="CROSS_FADE"
					enableFullscreen="true"
					showCaptions="true"
					captionTextColor="#ffffff"
					captionBackgroundColor="#000000"
					backgroundColor="#121212"
					borderColor="#00bcd4" 
		>
			<image imageURL="images/_DSC4300_HDR.jpg" thumbURL="thumbs/_DSC4300_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4308_HDR.jpg" thumbURL="thumbs/_DSC4308_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4313_HDR.jpg" thumbURL="thumbs/_DSC4313_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4331_HDR.jpg" thumbURL="thumbs/_DSC4331_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4413_HDR.jpg" thumbURL="thumbs/_DSC4413_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4426_HDR.jpg" thumbURL="thumbs/_DSC4426_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4430_HDR.jpg" thumbURL="thumbs/_DSC4430_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4436_HDR.jpg" thumbURL="thumbs/_DSC4436_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4443_HDR.jpg" thumbURL="thumbs/_DSC4443_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4457_HDR.jpg" thumbURL="thumbs/_DSC4457_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4462_HDR.jpg" thumbURL="thumbs/_DSC4462_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC4480_HDR.jpg" thumbURL="thumbs/_DSC4480_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
