<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
    galleryTitle="Downtown Phoenix"
		showInfoButton="true"
		enableAutoPlay="true"
		showAutoPlayButton="true"
		captionPosition="BELOW_IMAGE"
		autohideThumbs="true"
		playAudioOnLoad="true"
		showImageNumber="false"
		showAudioButton="true"
		showNavButtons="true"
		buttonBarPosition="TOP"
		maxThumbRows="2"
		imageScaleMode="SCALE"
		randomizeImages="true"
		useFullscreenExpand="true"
		autoPlayOnLoad="true"
		imageTransitionType="CROSS_FADE"
		backgroundUrl="https://downloadscdn7.freepik.com/1258/29/28384.jpg?filename=vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette&amp;token=exp=1743270632~hmac=13a06f1b87ffa4a88eaec65897563e3f"
		audioUrlMp3="https://cdn.pixabay.com/audio/2023/12/21/audio_9a762c312f.mp3"
>
	<image imageURL="images/_7RV1117.jpg" thumbURL="thumbs/_7RV1117.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1130.jpg" thumbURL="thumbs/_7RV1130.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1145.jpg" thumbURL="thumbs/_7RV1145.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1163.jpg" thumbURL="thumbs/_7RV1163.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1166.jpg" thumbURL="thumbs/_7RV1166.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1169.jpg" thumbURL="thumbs/_7RV1169.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1172.jpg" thumbURL="thumbs/_7RV1172.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1177.jpg" thumbURL="thumbs/_7RV1177.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1187.jpg" thumbURL="thumbs/_7RV1187.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1190.jpg" thumbURL="thumbs/_7RV1190.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1193.jpg" thumbURL="thumbs/_7RV1193.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1202.jpg" thumbURL="thumbs/_7RV1202.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1205.jpg" thumbURL="thumbs/_7RV1205.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1232.jpg" thumbURL="thumbs/_7RV1232.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1235.jpg" thumbURL="thumbs/_7RV1235.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1241.jpg" thumbURL="thumbs/_7RV1241.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1274.jpg" thumbURL="thumbs/_7RV1274.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1277.jpg" thumbURL="thumbs/_7RV1277.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1280.jpg" thumbURL="thumbs/_7RV1280.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1317.jpg" thumbURL="thumbs/_7RV1317.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1320.jpg" thumbURL="thumbs/_7RV1320.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/7RV01519.jpg" thumbURL="thumbs/7RV01519.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/7RV01794-Edit-Edit.jpg" thumbURL="thumbs/7RV01794-Edit-Edit.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_SZV0375.jpg" thumbURL="thumbs/_SZV0375.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1857.jpg" thumbURL="thumbs/_7RV1857.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1862.jpg" thumbURL="thumbs/_7RV1862.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1882.jpg" thumbURL="thumbs/_7RV1882.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1887.jpg" thumbURL="thumbs/_7RV1887.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1894.jpg" thumbURL="thumbs/_7RV1894.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1908.jpg" thumbURL="thumbs/_7RV1908.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1930.jpg" thumbURL="thumbs/_7RV1930.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1933-HDR.jpg" thumbURL="thumbs/_7RV1933-HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV1983.jpg" thumbURL="thumbs/_7RV1983.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	<image imageURL="images/_7RV2010-Enhanced-NR.jpg" thumbURL="thumbs/_7RV2010-Enhanced-NR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
</juiceboxgallery>