<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				galleryTitle="Chiang Mai"
				enableAutoPlay="true"
				displayTime="7"
				maxThumbRows="2"
				imageScaleMode="SCALE"
				randomizeImages="true"
				autoPlayOnLoad="true"
				enablePreloading="true"
				imageTransitionType="CROSS_FADE"
				enableFullscreen="true"
				showCaptions="true"
				captionTextColor="#ffffff"
				captionBackgroundColor="#000000"
				backgroundColor="#121212"
				borderColor="#00bcd4" 
		>
			<image imageURL="images/IMG_0925.jpg" thumbURL="thumbs/IMG_0925.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0933.jpg" thumbURL="thumbs/IMG_0933.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0937.jpg" thumbURL="thumbs/IMG_0937.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0940.jpg" thumbURL="thumbs/IMG_0940.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0941.jpg" thumbURL="thumbs/IMG_0941.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0943.jpg" thumbURL="thumbs/IMG_0943.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0945.jpg" thumbURL="thumbs/IMG_0945.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_0957.jpg" thumbURL="thumbs/IMG_0957.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
