<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				enableAutoPlay="true"
					captionPosition="BELOW_IMAGE"
					playAudioOnLoad="true"
					showImageNumber="false"
					maxThumbRows="2"
					imageScaleMode="SCALE"
					audioUrlMp3="https://cdn.pixabay.com/audio/2024/10/25/audio_5467d70045.mp3"
					randomizeImages="true"
					useFullscreenExpand="true"
					autoPlayOnLoad="true"
					galleryTitle="South Mountain"
					imageTransitionType="CROSS_FADE"
		>
			<image imageURL="images/_7RV0351_HDR.jpg" thumbURL="thumbs/_7RV0351_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0537_HDR.jpg" thumbURL="thumbs/_7RV0537_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0538.jpg" thumbURL="thumbs/_7RV0538.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0540_HDR.jpg" thumbURL="thumbs/_7RV0540_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0543_HDR.jpg" thumbURL="thumbs/_7RV0543_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0555.jpg" thumbURL="thumbs/_7RV0555.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0566.jpg" thumbURL="thumbs/_7RV0566.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0586_HDR.jpg" thumbURL="thumbs/_7RV0586_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0589.jpg" thumbURL="thumbs/_7RV0589.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0592.jpg" thumbURL="thumbs/_7RV0592.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0635.jpg" thumbURL="thumbs/_7RV0635.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0638.jpg" thumbURL="thumbs/_7RV0638.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0641.jpg" thumbURL="thumbs/_7RV0641.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0644.jpg" thumbURL="thumbs/_7RV0644.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0647.jpg" thumbURL="thumbs/_7RV0647.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0653.jpg" thumbURL="thumbs/_7RV0653.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0663.jpg" thumbURL="thumbs/_7RV0663.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0675.jpg" thumbURL="thumbs/_7RV0675.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0736.jpg" thumbURL="thumbs/_7RV0736.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0749.jpg" thumbURL="thumbs/_7RV0749.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0751.jpg" thumbURL="thumbs/_7RV0751.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0776.jpg" thumbURL="thumbs/_7RV0776.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_7RV0802.jpg" thumbURL="thumbs/_7RV0802.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01498.jpg" thumbURL="thumbs/7RV01498.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01508.jpg" thumbURL="thumbs/7RV01508.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01514.jpg" thumbURL="thumbs/7RV01514.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01522.jpg" thumbURL="thumbs/7RV01522.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01566.jpg" thumbURL="thumbs/7RV01566.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01583.jpg" thumbURL="thumbs/7RV01583.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01587.jpg" thumbURL="thumbs/7RV01587.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01614.jpg" thumbURL="thumbs/7RV01614.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01617.jpg" thumbURL="thumbs/7RV01617.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01621.jpg" thumbURL="thumbs/7RV01621.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01625.jpg" thumbURL="thumbs/7RV01625.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01641.jpg" thumbURL="thumbs/7RV01641.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01647.jpg" thumbURL="thumbs/7RV01647.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01650.jpg" thumbURL="thumbs/7RV01650.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01658.jpg" thumbURL="thumbs/7RV01658.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01665.jpg" thumbURL="thumbs/7RV01665.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/7RV01667.jpg" thumbURL="thumbs/7RV01667.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0260.jpg" thumbURL="thumbs/_SZV0260.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0265.jpg" thumbURL="thumbs/_SZV0265.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0268.jpg" thumbURL="thumbs/_SZV0268.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0281.jpg" thumbURL="thumbs/_SZV0281.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0288.jpg" thumbURL="thumbs/_SZV0288.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0295.jpg" thumbURL="thumbs/_SZV0295.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0299.jpg" thumbURL="thumbs/_SZV0299.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0318.jpg" thumbURL="thumbs/_SZV0318.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0335.jpg" thumbURL="thumbs/_SZV0335.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0341.jpg" thumbURL="thumbs/_SZV0341.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0359.jpg" thumbURL="thumbs/_SZV0359.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0365.jpg" thumbURL="thumbs/_SZV0365.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0377.jpg" thumbURL="thumbs/_SZV0377.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0384.jpg" thumbURL="thumbs/_SZV0384.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_SZV0388.jpg" thumbURL="thumbs/_SZV0388.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
