<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				showInfoButton="true"
					enableAutoPlay="true"
					showAutoPlayButton="true"
					captionPosition="BELOW_IMAGE"
					autohideThumbs="true"
					playAudioOnLoad="true"
					showImageNumber="false"
					showAudioButton="true"
					backgroundUrl="https://downloadscdn7.freepik.com/1258/29/28384.jpg?filename=vintage-grunge-blue-concrete-texture-studio-wall-background-with-vignette&amp;token=exp=1743270632~hmac=13a06f1b87ffa4a88eaec65897563e3f"
					showNavButtons="true"
					buttonBarPosition="TOP"
					maxThumbRows="2"
					imageScaleMode="SCALE"
					audioUrlMp3="https://cdn.pixabay.com/audio/2023/12/21/audio_9a762c312f.mp3"
					randomizeImages="true"
					useFullscreenExpand="true"
					autoPlayOnLoad="true"
					galleryTitle="Tempe Town Lake"
					imageTransitionType="CROSS_FADE"
		>
			<image imageURL="images/IMG_5061.jpg" thumbURL="thumbs/IMG_5061.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC5386_stack.jpg" thumbURL="thumbs/_DSC5386_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/IMG_4685.jpg" thumbURL="thumbs/IMG_4685.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
