<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				playAudioOnLoad="true"
					audioUrlMp3="https://cdn.pixabay.com/audio/2024/10/29/audio_0ef8bb6cf5.mp3"
		>
			<image imageURL="images/IMG_4685.jpg" thumbURL="thumbs/IMG_4685.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
