<?xml version="1.0" encoding="UTF-8"?>
<juiceboxgallery
				enableAutoPlay="true"
					displayTime="5"
					maxThumbRows="2"
					imageScaleMode="SCALE"
					randomizeImages="true"
					autoPlayOnLoad="true"
					galleryTitle="Wat Mettatham Phothiyan"
					imageTransitionType="CROSS_FADE"
					enableFullscreen="true"
					showCaptions="true"
					captionTextColor="#ffffff"
					captionBackgroundColor="#000000"
					backgroundColor="#121212"
					borderColor="#00bcd4" 
		>
			<image imageURL="images/_DSC1041_HDR_2.jpg" thumbURL="thumbs/_DSC1041_HDR_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1045_HDR.jpg" thumbURL="thumbs/_DSC1045_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1055_HDR_2.jpg" thumbURL="thumbs/_DSC1055_HDR_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1114_stack.jpg" thumbURL="thumbs/_DSC1114_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1118_stack.jpg" thumbURL="thumbs/_DSC1118_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1122_HDR.jpg" thumbURL="thumbs/_DSC1122_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1132_stack.jpg" thumbURL="thumbs/_DSC1132_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1139_stack.jpg" thumbURL="thumbs/_DSC1139_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1145_stack.jpg" thumbURL="thumbs/_DSC1145_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1148_stack.jpg" thumbURL="thumbs/_DSC1148_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1151_stack.jpg" thumbURL="thumbs/_DSC1151_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1161_HDR.jpg" thumbURL="thumbs/_DSC1161_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1170_stack.jpg" thumbURL="thumbs/_DSC1170_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1175_stack.jpg" thumbURL="thumbs/_DSC1175_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1180_stack.jpg" thumbURL="thumbs/_DSC1180_stack.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1183_HDR.jpg" thumbURL="thumbs/_DSC1183_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1251_HDR_3.jpg" thumbURL="thumbs/_DSC1251_HDR_3.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1275_HDR.jpg" thumbURL="thumbs/_DSC1275_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1280_HDR_2.jpg" thumbURL="thumbs/_DSC1280_HDR_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1288_HDR.jpg" thumbURL="thumbs/_DSC1288_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1299_HDR_2.jpg" thumbURL="thumbs/_DSC1299_HDR_2.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1310_HDR.jpg" thumbURL="thumbs/_DSC1310_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1332_HDR.jpg" thumbURL="thumbs/_DSC1332_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1365_HDR.jpg" thumbURL="thumbs/_DSC1365_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1420_HDR.jpg" thumbURL="thumbs/_DSC1420_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1468_HDR.jpg" thumbURL="thumbs/_DSC1468_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1506_HDR.jpg" thumbURL="thumbs/_DSC1506_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1513_HDR.jpg" thumbURL="thumbs/_DSC1513_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
			<image imageURL="images/_DSC1546_HDR.jpg" thumbURL="thumbs/_DSC1546_HDR.jpg" linkURL="" linkTarget="_blank">
			<title><![CDATA[]]></title>
			<caption><![CDATA[]]></caption>
		</image>
	</juiceboxgallery>
